{
    "extends": ["airbnb", "prettier"],
    "plugins": ["flowtype", "prettier"],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "no-console": "off",
        "prettier/prettier": "off",
        "react/jsx-indent": "off",
        "react/jsx-one-expression-per-line": "off"
    },
    "settings": {
        "import/resolver": "webpack"
    }
}
